@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400&display=swap')
*
    margin: 0
    padding: 0
@for $i from 1 through 6
    h#{$i}
        margin-bottom: 3px * (6 - $i)
@mixin centerVertical()
    top: 50vh
    transform: translateY(-50%)
@mixin centerHorziontal()
    left: 50%
    transform: translateX(-50%)
@mixin centerHorziontalVertical()
    top: 50vh
    left: 50%
    transform: translateY(-50%) translateX(-50%)
@mixin flexCenter()
    display: flex
    justify-content: center
@mixin flexVerticalCenter()
    display: flex
    align-content: center
@mixin backdropFilter($blur: 5px, $darken: 0%) 
    background-color: $darkernBG
    @supports (backdrop-filter: blur(5px))
        backdrop-filter: blur(5px) brightness(100% - $darken)
        background-color: none

$darkernBG: rgba(100,100,100,0.5)
$primaryFont: 'Raleway'
$primaryColor: #5995ED
$secondaryColor: #F3BC7C
p
    margin: 12px
    font-family: $primaryFont
    font-weight: 400
    text-align: center
#computeTime
    margin-bottom: 100px
h1
    text-align: center
    font-family: $primaryFont
    font-weight: 200
    color: $primaryColor
    position: relative
    top: 8px
#notInWord
    $divHeight: 30px
    margin-top: 24px
    height: $divHeight
    @include flexCenter()
    @include flexVerticalCenter()
    p
        height: $divHeight
        line-height: $divHeight
        @include flexVerticalCenter()
        margin:0
#knownLetters input, #knownIllegalLetters input
    user-select: none
    transition: all 0.3s
    z-index: 2
    &:focus
        box-shadow: 2px 2px 32px black
        outline: none
#letterInfo
    div
        @include flexCenter()
        .letter
            width: 32px
            height: 32px
            margin: 6px
    p
        text-align: center
#possibleWords, #comWords
    display: flex
    justify-content: space-between
    width: 80%
    margin: auto
    position: relative
    flex-wrap: wrap
    p
        box-sizing: content-box
        margin: 3px
        font-family: $primaryFont
        font-size: 18px
        border: 3px solid lighten(red, 35%)
.promptLen
    width: 100%
    height: 100vh
    position: fixed
    @include backdropFilter(2px, 30%)
    z-index: 15
    .overlayContainer
        position: relative
        @include centerHorziontalVertical()
        width: 30%
        height: 20vh
        background-color: lighten(red, 45%)
        h2
            text-align: center
            top: 12px
            position: relative
            font-family: $primaryFont, sans-serif
            font-weight: 300
        input, button
            display: block
            margin: 7px auto 15px auto
button
    transition: all 0.6s
    border: 1px solid lighten(red, 35%)
    padding: 6px
    margin: 2px 6px
    font-family: $primaryFont, sans-serif
    font-weight: 400
    font-size: 14px
    cursor: pointer
    &:hover
        box-shadow: 6px 6px 20px black
        background-color: lighten(blue, 40%)
#pageBottom
    @include backdropFilter(4px, 50%)
    width: 100%
    height: 82px + 12
    position: fixed
    bottom: 0
    #inclusiveWords
        position: absolute
        left: 50%
        transform: translateX(-50%)
        display: block
        bottom: 48px
        @include flexCenter()
    #otherBtns
        bottom: 12px
        position: absolute
        display: inline-block
        @include centerHorziontal()
    p
        font-family: $primaryFont
        font-size: 18px
        text-align: justify
        width: 40%
        margin: 0 auto
        display: block
        span
            display: inline-block
            text-align: center
            width: 18px
            height: 18px
            border-radius: 2px
            color: white
        .wordleillegal
            background-color: grey
        .wordleCorrect
            background-color: green
#bgAnimation
    user-select: none
    position: fixed
    filter: blur(2px)
    top: 0
    left: 0
    z-index: -10
    height: 100vh
    width: 100%
    p
        $size: 25px

        font-family: $primaryFont
        position: absolute
        font-size: 18px
        border: solid 2px lighten(black, 50%)
        border-radius: 5px
        height: $size
        width: $size
        line-height: $size
        text-align: center
#front
    @include backdropFilter(10px, 20%)
    input, button
        z-index: 10
    h1
        @supports (backdrop-filter: blur(3px))
            color: lighten($primaryColor, 15%)
    #letterInfo
        p
            @supports (backdrop-filter: blur(3px))
                color: white
#comWords p, #possibleWords p
    background-color: $darkernBG
.explodeScaleOutThing
    position: absolute
    background-color: white
    opacity: 1
    height: 35px
    width: 35px
    transition: transform 1.2s, opacity 0.5s
    z-index: 0